/* #catagory-divide-bar{
    height:1.5rem;
    background-color:black !important;
} */
.catalogPage{
    margin-top: 20rem;
}
.catalogPage-wrapper{    
    background-color: white;
}
.left-wrapper{
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    left:0;
}
.right-wrapper{
    display: block;
    position: absolute;
    width: 50%;
    height: 100%;
    right:0;
    background-color: wheat;
}
/* section-right */
.posts-table{
    background-color: rgb(230, 228, 228);
}
.posts-table-heading{
    font-size: 1.5rem;
    font-weight: bolder;
    margin-left: 0.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
    padding-bottom: 0rem;
}
#showMoreBtn{
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left:auto;
    margin-right:auto;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left:2rem;
    padding-right:2rem;
    border: 1px solid;
    color:darkolivegreen;
    border-color:darkolivegreen;
    background-color: white;
    display:block
}

/* section-left */
.classes-table{
    background-color:white;
    /*padding-right:1.5rem;*/
}
.classes-section{
    font-size: 1rem;
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    margin-top: 2rem;
    background-color:white;

}
.classes-topic{
    padding-top:0.5rem;
    padding-bottom:0.5rem;
    border-bottom: lightgrey 0.5px solid;

}
.classes-body{
    
}
#orderBy{
    text-align-last: left;
    
}
#exploreBy{
    text-align-last: left;
}
.option{
    margin-top: 0.6rem;
    color:gray;
}
@media(min-width:992px){
    .greddd{
        display: inline-grid;
    }
    
}


@media(max-width:992px){
    .classes-section{
        border-bottom: 0px solid;
        box-shadow: 0.2px 0px 4px  gray;
        margin-bottom: 0.5rem;
        padding-left: 1rem ;
        padding-right: 1rem ;
    }
    .classes-topic{
        border-bottom: lightgrey 0.5px solid;
    }
    .option{
        display:none;
    }
    #exploreBy{

        background-color: wheat;
    }
    #orderBy{

        background-color: wheat;
    }
    /* wrapper */
    .left-wrapper{
        background-color: wheat!important;
    }
    .catalogPage-wrapper{    
        /* position: relative; */
        background-color:wheat;
    }
    .greddd{
        display: block;
    }


}
@media(max-width:576px){
    #orderBy{
        display:none; 
    }
    #exploreBy{
        padding-left: 1.5rem ;
        padding-right: 1.5rem ;
    }
}

/* for dropdown-content */
.dropdown-content {
 
}

.topic-symbol{
    /*padding-left: auto;*/
    float: right;
    color:grey !important;
}
.dropDownBtn{
    background-color:white;
}
.checkIcon{
    color:rgb(189, 183, 183);
}
.checkbox{
    color:white;
}
.checkbox-element{
    padding-bottom: 0.4rem;
    padding-top: 0.4rem ;
}

