/* @import url('https://use.fontawesome.com/releases/latest/js/all.js'); */
.main {
    height: 100%;
    background-color: white;
}


#navbar-section{

}

#content-section{
  background-color:white;
}
.content-section-dim{
  /* -webkit-filter: */
  opacity:1;
}

.animation, .animation-after {
    position: absolute;
    font-size: 30px;
    left: 45%;
    top: 40%;
    z-index: 1;
}


.navbar-dropDown {
    /* font-family: 'Lobster', cursive; */
    float: left;
    overflow: hidden;
}

.dropBtn .dropDown {
    font-size: 16px;
    border: none;
    outline: none;
    color: black;
    padding: 14px 16px;
    background-color: inherit;
    font: inherit; /* Important for vertical align on mobile phones */
    margin: 0; /* Important for vertical align on mobile phones */
  }
#newsSharing-navbar{
  background-color:rgb(218, 211, 211) !important;
  border-bottom:0.5px grey;
  box-shadow:1px 0px 1px lightgrey;
  z-index: 10000;
  top: 0px;
  position:fixed;
  width:100%;
}
#navbar-logo{
  font-family: 'Lobster', cursive;
  color:black;
  padding-left: 5rem;
  border-right: black 0.2px solid;
}

.navbar-wrapper{
  display: block;
  position: absolute;
  width: 100%;
  height: 4.5rem;
  left:0;
  background-color: rosybrown;
  opacity: 1;
}




.navbar-dropDown-content {
    z-index: 1;
    display: none;
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 1rem;
    background-color: rosybrown;
    /* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
}
.navbar-content-link{
  text-align: center;
}

.navbar-tag {
    background-color: inherit;
    margin: 0; 
    border: none;
    outline: none;
}

.navbar-tag:focus {
  outline: none;
}
.login-btn{
  /* background-color:white;
  color:darkolivegreen; */
  color:white;
}






@media(max-width:768px){
  .navbar-wrapper{
    display: none;
  }
  .contentCategory{
    display: none;
  }
  .navbar-items{
    display: none;
  }
  .navbar-tag {
    background-color: inherit;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    /* border-bottom: grey 0.5px solid; */
  }
  #navbar-logo{
    border: 0px !important;
  }
}
/* toggle element */

/* outside toggle */
.outside-toggle-linkBtn {
  border-radius: 4px;
  background-color: inherit;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
}
.outside-toggle-linkBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.outside-toggle-linkBtn span::after {
  font-weight: 900; 
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.outside-toggle-linkBtn:hover span {
  padding-right: 25px;
} 

.outside-toggle-linkBtn:hover span::after{
  opacity: 1;
  right: 0;
}
/* inside toggle element */
.inside-toggle-element{
  text-align: center;
}
.inside-toggle-linkBtn{
  padding-top:0.3rem;
  padding-bottom:0.3rem;
}

/* for dropdown-content */
.dropdown-content {
  display: none;
  
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  border-radius: 5%;
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-hide{
  display: hide;
}
.dropdown-display{
  display: block;
}




.navbar-items{
  padding-left:1rem;
}
.outside-picked-item{
  /* border-bottom:black 0.5px solid; */
  background-color:rosybrown;
}


#blankSpace{
  width:100%;
  height: 2rem;
}

/* 
.insideColNthu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.insideColNthu span::after {
  /* font-family: 'Font Awesome 5 Free';  */
  /* font-weight: 900; 
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.insideColNthu:hover span {
  padding-right: 25px;
} 

.insideColNthu:hover span::after{
  opacity: 1;
  right: 0;
}

.insideColCategory span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.insideColCategory span::after {
  font-weight: 900; 
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.insideColCategory:hover span {
  padding-right: 25px;
} 

.insideColCategory:hover span::after{
  opacity: 1;
  right: 0;
}

.insideColNctu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.insideColNctu span::after {
  font-weight: 900; 
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.insideColNctu:hover span {
  padding-right: 25px;
} 

.insideColNctu:hover span::after{
  opacity: 1;
  right: 0;
} */


.main{
  font-family: 'Roboto', sans-serif;
}


/* html */
/* html {
    scroll-behavior: smooth;
  } 

  #id {
    outline: none;
  }

  .button {
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  } */

  /* .s-circle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    margin-top: 0;
    border-width: 2px;
    border: 4px solid black;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }

  .span {
    position: absolute;
    top: 27px;
    left: 27px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 5px;
    transform: rotateZ(47deg) scale(0.4);
    transition: 0.5s ease all;
  }

  .span::before, .span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: black;
    border-radius: 10px;
    transform: rotateZ();
    transition: 0.5s ease all;
  }


  .button:hover .s-circle
{
    top: 47%;
    width: 35px;
    height: 15px;
    left: -5px;
    border-width: 0;
    background-color: black;
    border-radius: 20px;
    transform: scale(0.6);
}

.button:hover .span
{
    top: 32px;
    left: 10px;
    width: 25px;
    margin-top: -15px;
    transform: rotateZ(0) scale(0.5);
}

.button:hover .span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

.button:hover .span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}

.button:hover .span:before, .button:hover .span:after
{
    right: -6px;
    width: 40px;
    background-color: black;
}  */




/* for serch bar */

.search-btn{
	margin-left:1rem;
	margin-right:1rem;
	background-color:rgb(218, 211, 211) !important;
}
.search-icon:hover{
	color:red;
}


@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.mainLoginInput{
	/* height: 40px; */
	width:20rem;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 8px;
	border :1px solid lightgray;
	/* margin: px 0; */
}

.mainLoginInput::-webkit-input-placeholder { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	color:lightgray;
}

.mainLoginInput::-moz-placeholder  { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	color:lightgray;
}

.mainLoginInput:-ms-input-placeholder  { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	color:lightgray;
} 