/* @import url('https://use.fontawesome.com/releases/latest/js/all.js'); */

/* 
main-wrapper -> navbar-slide
             -> main        -> navbar-section
                            -> content-section
                            -> footer-section



*/
#main-wrapper{
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-family: 'Abel', sans-serif;

}
<<<<<<< HEAD
#content-section{
  background-color:rgb(255, 242, 204);
=======


/* side bar */

#newsSharing-sidebar{
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100%;
  background: #042331;
  transition-duration: .5s;
  transition-property: left;
}
.sidebar-active{
  left:0rem !important;
  z-index: 1111;
>>>>>>> 99b811bffb0ec9c85efe754bb770e5136c6e11bd
}
.sidebar-closed{
  left:-250px !important;
}
.sidebar-element{
  color: white;
  padding-top: 1.3rem;
  padding-bottom: 1.3rem;
  padding-left:1.5rem;
  padding-right:1.5rem;
  border-bottom: 0.01px black solid;
  font-size: 1.3rem;
  cursor: pointer;

}
.sidebar-element:hover{
  padding-left:2.5rem;
  padding-right:0.5rem;
  background-color: brown;
  transition-duration: .5s;
  transition-property: padding-left;
}
.sidebar-logo{
  font-family: 'Indie Flower', cursive;
  font-weight: bolder;
}
.sidebar-entry{
  
  font-weight: bolder;
}
.sidebar-child{
  font-weight: lighter;
}
.sidebar-icon{
  float: right; ;
}
/* for dropdown-content */

.dropdown-tag {
    margin: 0; 
    display: block;
    background:inherit; 
    color:white
}




/* main */
#main {
  height: 100%;
  position:absolute; 
  background-color: white;
  width:100%;
  margin-left: 0rem;
  margin-right:0rem;
  transition:.5s ease;
 
}
.main-shift{
  left:250px !important;
  -webkit-filter:brightness(.5);
  overflow: hidden;
  pointer-events: none;
}
.main-unshift{
  left:0rem !important;
}
/* navbar  */
#navbar-section{
  border:0.05px lightgray solid;
  background-color: white;
  position: fixed;
  width:100%;
  z-index: 1;
}
.navbar-items{
  padding-top:1.2rem;
  text-align: center;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  height: 4rem;
}
#toggleBtn{
  border-right:0.05px lightgray solid;
}
#searchBtn{

}
#loginBtn{
  float: inline-end;
  border: 1px solid;
  border-radius: 3px;
  margin-right:1.5rem;
  height:3rem;
  padding-top:0.6rem;
  color: rgb(0, 128, 255);
  cursor: pointer;
  /* margin-top:1px;
  margin-bottom:1px; */
  /* color:black !important; */
}
#userIcon{
  margin-right: 1rem;
  color: black;
  background-color: white;
  border:1px black solid;
  cursor: pointer;
  outline:none;
}
#searchInput{
  margin-left: 2rem;
  outline:none;
  border:0.1px lightgray none;
  width: 20rem;
}
#navbar-logo{
  padding-top: 0.4rem;
  font-weight: bolder;
  font-size: 2.5rem;
  font-family: 'Indie Flower', cursive;
  color:black;
  text-align: center;
  display: inline-block;
  text-shadow: 2px 2px lightblue;
}
/* for serch bar */

.search-btn{
	margin-left:1rem;
	margin-right:1rem;
	background-color:rgb(218, 211, 211) !important;
}
.search-icon:hover{
	color:black;
}


@media(max-width:768px){
  #navbar-logo{
    padding-top: 0.55rem;
    font-size: 2rem
  }
}
@media(max-width:576px){
  #navbar-logo{
    padding-top: 0.7rem;
    font-size: 1.7rem
  }
}

#blankSpace{
  width:100%;
  height: 5rem;
}



/* content section */

#content-section{
  background-color:rgb(255, 242, 204);
}


.animation, .animation-after {
    position: absolute;
    font-size: 30px;
    left: 45%;
    top: 40%;
    z-index: 1;
}



/* link */
.link{
  color:white;
}
.link:hover{
  color:white;
  text-decoration: none;
}
/* all */
*:focus {outline:none !important}



/* @media(max-width:768px){
  .contentCategory{
    display: none;
  }
  .navbar-tag {
    background-color: inherit;
    padding-top: 0.5rem; 
    padding-bottom: 0.5rem;
    
  }
} */
/* toggle element */

/* outside toggle */
/* .outside-toggle-linkBtn {
  border-radius: 4px;
  background-color: inherit;
  border: none;
  color: black;
  text-align: center;
  font-size: 15px;
  transition: all 0.5s;
  cursor: pointer;
  text-align: center;
}
.outside-toggle-linkBtn span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.outside-toggle-linkBtn span::after {
  font-weight: 900; 
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.outside-toggle-linkBtn:hover span {
  padding-right: 25px;
} 

.outside-toggle-linkBtn:hover span::after{
  opacity: 1;
  right: 0;
} */
/* inside toggle element */
/* .inside-toggle-element{
  text-align: center;
}
.inside-toggle-linkBtn{
  padding-top:0.3rem;
  padding-bottom:0.3rem;
}







.outside-picked-item{
  background-color:rosybrown;
} */




/* 
.insideColNthu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.insideColNthu span::after {
  /* font-family: 'Font Awesome 5 Free';  */
  /* font-weight: 900; 
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.insideColNthu:hover span {
  padding-right: 25px;
} 

.insideColNthu:hover span::after{
  opacity: 1;
  right: 0;
}

.insideColCategory span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.insideColCategory span::after {
  font-weight: 900; 
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.insideColCategory:hover span {
  padding-right: 25px;
} 

.insideColCategory:hover span::after{
  opacity: 1;
  right: 0;
}

.insideColNctu span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.insideColNctu span::after {
  font-weight: 900; 
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.insideColNctu:hover span {
  padding-right: 25px;
} 

.insideColNctu:hover span::after{
  opacity: 1;
  right: 0;
} */





/* html */
/* html {
    scroll-behavior: smooth;
  } 

  #id {
    outline: none;
  }

  .button {
    color: black;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
  } */

  /* .s-circle {
    position: absolute;
    top: 5px;
    left: 5px;
    width: 20px;
    height: 20px;
    margin-top: 0;
    border-width: 2px;
    border: 4px solid black;
    background-color: transparent;
    border-radius: 50%;
    transition: 0.5s ease all;
  }

  .span {
    position: absolute;
    top: 27px;
    left: 27px;
    display: block;
    width: 10px;
    height: 10px;
    background-color: transparent;
    border-radius: 5px;
    transform: rotateZ(47deg) scale(0.4);
    transition: 0.5s ease all;
  }

  .span::before, .span::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 45px;
    height: 15px;
    background-color: black;
    border-radius: 10px;
    transform: rotateZ();
    transition: 0.5s ease all;
  }


  .button:hover .s-circle
{
    top: 47%;
    width: 35px;
    height: 15px;
    left: -5px;
    border-width: 0;
    background-color: black;
    border-radius: 20px;
    transform: scale(0.6);
}

.button:hover .span
{
    top: 32px;
    left: 10px;
    width: 25px;
    margin-top: -15px;
    transform: rotateZ(0) scale(0.5);
}

.button:hover .span:before
{
    bottom: 11px;
    transform: rotateZ(52deg);
}

.button:hover .span:after
{
    bottom: -11px;
    transform: rotateZ(-52deg);
}

.button:hover .span:before, .button:hover .span:after
{
    right: -6px;
    width: 40px;
    background-color: black;
}  */







@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.mainLoginInput{
	/* height: 40px; */
	width:20rem;
	padding: 0.5rem;
	font-size: 1rem;
	border-radius: 8px;
	border :1px solid lightgray;
	/* margin: px 0; */
}

.mainLoginInput::-webkit-input-placeholder { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	color:lightgray;
}

.mainLoginInput::-moz-placeholder  { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	color:lightgray;
}

.mainLoginInput:-ms-input-placeholder  { 
	font-family: FontAwesome;
	font-weight: normal;
	overflow: visible;
	vertical-align: top;
	display: inline-block !important;
	color:lightgray;
} 