.picture_d{
    text-align: match-parent ;
}

.list{
  margin-right: 5px;
}
.MuiListItemIcon-root{
  min-width: auto !important;
}
.left{
  padding-right: 0px !important;
}
.MuiTypography-body1{
  margin: 0 auto !important;
  font-size: 0.75rem !important;
}
.options{
  text-align: center;
}
.MuiListItem-root{
  justify-content: start !important;
}
