.component-img {
    width: 8rem;
    height: 10rem;
}

.title-r {
    font-size: 1rem;
}

.content-r {
    width: 9rem;
    height: 15rem;
    border: none;
    outline: none;
    color: black;
}

.content-r:focus {
  outline: none;
  border: none;
}