.picture_i:hover{
    opacity: 0.5; 
  }
.picture_i{
    box-shadow:6px 6px 20px rgb(0, 8, 14);
    max-width: 224px;
}
.picture_d{
    font-family: 'Ruslan Display','DFKai-SB', cursive;
    font-weight:650;
    font-size: 24px;
}
.article{
    background-color: rgba(5, 0, 7, 0.2);
}
.card:hover .btn{
	visibility: visible;
}
.card .btn:hover {
    background-color: black;
    color: white;
}
.card .btn {
    position:absolute;
    top:-1%;
    left:-1%;
    background-color: #f1f1f1;
    color: black;
    font-size: 8px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;
    visibility: hidden;
}
.card {
    position: relative;
    background-color:transparent !important;
    border:0 !important;

}
.card img {
    width: 180px;
    height: 240px;
  }
.article h3{
    font-size: 14px;
    line-height: 15px;
    letter-spacing: 3px;
    font-weight: 800;
    display: inline-block;
    padding: 16px;
    text-transform: uppercase;
    max-width: 100%;
}
.article h3::after{
    width: 30px;
    height: 2px;
    display: block;
    background-color:gray;
    content: "";
    margin: 10px auto 30px;
    border-radius: 1px;
}
.article_title{
    align-items: center;
}