
.CS_box{
  width: 768px;
  padding-bottom: 50px;
}
.background-img{
  background-image: url("https://cc.tvbs.com.tw/img/_data/i/upload/2017/12/10/20171210223528-b1d29157-me.jpg");
  height: 0;
  padding-top: 56.25% !important;
  max-width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0% 2% !important;
  padding:20px;
  border: 1px solid #eccd43;
  border-radius: 4px;
  box-shadow: 0px 0px 5px #eccd43;
  position: relative;
}

.content h2{ font-size:19px;}

.box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px; 
  height: 300px;
  background: #111845a6 !important;
  box-sizing: border-box;
  overflow: hidden;
  box-shadow: 0 20px 50px rgb(23, 32, 90);
  border: 2px solid #dacd19;
  color: white;
  padding: 20px;
}
.CS_box h2{
  color: #fce76f;
}
.CS_box a{
  
 color:#eceb95;
}
.CS_box a:hover{
  
  color:#f79e76;
 }
.box:before{
  content: '';
  position:absolute;
  top:0;
  left:-100%;
  width:100%;
  height:100%;
  background: rgba(255,255,255,0.1);
  transition:0.5s;
  pointer-events: none;
}

.box:hover:before{
  left:-50%;
  transform: skewX(-5deg);
}


.box .content1{
  position:absolute;
  top:15px;
  left:15px;
  right:15px;
  bottom:15px;
  border:1px solid #f0a591;
  padding:20px;
  text-align:center;
  box-shadow: 0 5px 10px rgba(9,0,0,0.5);

}

.box span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: block;
  box-sizing: border-box;

}

.box span:nth-child(1)
{
  transform:rotate(0deg);
}

.box span:nth-child(2)
{
  transform:rotate(90deg);
}

.box span:nth-child(3)
{
  transform:rotate(180deg);
}

.box span:nth-child(4)
{
  transform:rotate(270deg);
}

.box span:before
{
  content: '';
  position: absolute;
  width:100%;
  height: 2px;
  background: #fce76f;
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform:scaleX(0);
    transform-origin: left;
  }
  50% {
    transform:scaleX(1);
    transform-origin: left;
  }
  50.1% {
    transform:scaleX(1);
    transform-origin: right;
  
  }
  100% {
    transform:scaleX(0);
    transform-origin: right;
  }
} 