.articleform-container {
  padding: 1rem;
  position: relative;
  margin: 0 auto;
  max-width: 800px;
}
#blankSpace2{
  width: 100%;
  height: 15rem;
}

.check-icon {
  color: rgb(32,178,170);
}
.block-icon {
  color: red;
}
.title {
    text-align: center;
}
.articleform-container .hint {
  padding-left: 3rem;
}
.articleform-container .content-input {
  max-width: 600px;
}
.articleform-container .tag {
  margin: 0 4rem;
}
.ArticleForm_Tag{ 
  margin:0 auto !important;
  max-width: 500px !important;
}
.article-form {
    font-weight: bold;
}
.articleform-container .form {
    width: 100%;
    max-width: 60rem;
    margin: 0rem auto;
}
.articleform-container textarea {
  width: 100%;
  min-width: 500px;
}
.articleform-container .label {
  color: rgb(32,178,170);
  text-align: start;
  font-family: 'Abel', sans-serif;
}
.articleform-container .poster-form {
  background-color: #d7f7f6;
}


@media (max-width: 780px) {
  .articleform-container .info {
    flex-direction: column;
  }

  .articleform-container textarea {
    max-width: 400px;
    width: 100%;
  }
}
.buttons {
    position: relative;
    width: 7rem;
    margin: auto;
}


