.search-page {
    margin: 0rem auto;
    background-color: peachpuff;
}
.search-page .post-item {
    margin: 0rem auto;
    display: block;
}
.calendar{
    color: black;
    position: relative;
    padding-top: 1em;
}
