.signupclub_body{
    background-color: #262626 !important;
    padding-top: 30px;
    padding-bottom: 100px;
}
.signuplcub{
    margin:0 auto;
    width:600px;
    white-space:nowrap;
    color: rgb(22, 22, 3);
    margin-top: 50px;
    background-color: rgb(246, 246, 244);
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: 'Boogaloo', cursive;
    margin-bottom: 50px;
}
.signupclub_title{
 
text-align: center;
}
.signuph1_title {
    text-align: center;
    font-size: 48px;
    margin-bottom: 100px;
}

.signuplcub .combine{
    margin-top: 40px;
    margin-bottom: 5px;
}
.signuplcub .form_button_signupclub{
    margin-top: 30px;
    padding-bottom: 30px;
}
.signupdelete_btn{
    margin-left: 85px;
}
.btngroup_signup{
    padding-bottom: 30px;
}